* {
  background-color: #f4f8fb;
}
.main-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 1em;
}
header {
  height: 50px;
}
.content-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 2em;
}

/* .layout-options {
  height: 100px;
} */
ul {
  list-style: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.articles-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
}

.articles-item {
  width: 300px;
  padding: 10px 11px;
}
.text-navigation {
  height: 50px;
  width: 300px;
  background-color: white;
  border-radius: 25px;
}
.text-options {
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: grid;
  grid-template-columns: 25% 1fr;
}
.box-navigation {
  height: 40px;
}
.box {
  width: 150px;
  height: 150px;
  background-color: red;
}
.box-options {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.boxes {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  gap: 1em;
}
.box-navigation {
  background-color: white;
  height: 50px;
  border-radius: 25px;
}
