* {
  background-color: #f4f8fb;
}
.main-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 1em;
}
header {
  height: 50px;
  background-color: white;
}
img {
  height: 50px;
  width: 100px;
}
.content-wrapper {
  display: grid;
  grid-template-rows: 100px 1fr;
  gap: 2em;
}

/* .layout-options {
  height: 100px;
} */
.layout-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.articles-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
  overflow-y: auto;
  list-style: none;
  padding: 0px;

  justify-content: space-between;
}

.articles-item {
  width: 300px;
  padding: 10px 11px;
}
.text-navigation {
  height: 50px;
  width: 300px;
  background-color: white;
}
.text-options {
  display: flex;
  flex-direction: column;
}

.main-layout {
  display: grid;
  grid-template-columns: 25% 1fr;
  gap: 2em;
}
.box-navigation {
  height: 40px;
}
.box {
  width: 250px;
  height: 250px;
  background-color: red;
}
.box-options {
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 100%;
}
.boxes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
}
.box-navigation {
  background-color: white;
  height: 50px;
  flex-shrink: 1;
}
